/* src/style/customInput.css */
.input-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}

.custom-input {
    width: 100%;
    height: 56px;
    padding: 10px;
    border: 1px solid rgb(51 54 57 / 21%);
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(231, 233, 234);
    outline: none;
    box-sizing: border-box;
    appearance: none;
    /* デフォルトの矢印を非表示 */
    -webkit-appearance: none;
    /* Safariのデフォルト矢印を非表示 */
    -moz-appearance: none;
    /* Firefoxのデフォルト矢印を非表示 */
    position: relative;
    z-index: 1;
    /* color: rgb(51 54 57 / 21%); */
}

.custom-input::placeholder {
    color: rgb(51 54 57 / 21%);
}

/* フォーカス時のスタイル */
.custom-input:focus {
    border-color: #009da3;
    border: 1px solid #009da3;
    /* box-shadow: 0 0 5px rgba(0, 157, 163, 0.5); */
}

.dob-selectors {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 20px 0;
}

.selector-container {
    position: relative;
    flex: 1;
}

.selector-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* アイコンがクリックできないようにする */
    z-index: 2;
    color: rgb(51 54 57 / 21%);
}