.login-container {
  height: 100vh;
  background-color: #009da3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 450px;
  border-radius: 5px;
  background-color: #f8f7f6;
  padding: 20px 40px;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  text-overflow: unset;
  color: #009da3;
  line-height: 36px;
  word-wrap: break-word;
  width: 100%;
  font-weight: 700;
  font-size: 31px;
  text-align: inherit;
}

.login-input-label {
  text-overflow: unset;
  color: #009da3;
  margin-bottom: 8px;
  line-height: 20px;
  word-wrap: break-word;
  min-width: 0px;
  font-weight: 700;
  font-size: 15px;
  text-align: inherit;
  width: 100%;
}

.login-input-annotation {
  text-overflow: unset;
  color: rgb(113, 118, 123);
  margin-bottom: 4px;
  word-wrap: break-word;
  min-width: 0px;
  text-align: inherit;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.login-back-to-top {
  text-decoration: none;
  color: #009da3;
  margin-top: 20px;
}