.timeline-container {
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.timeline-container::-webkit-scrollbar {
    display: none;
}

.post-content-area {
    display: flex;
    align-items: flex-start;
    border-color: #ddd;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.post-right-area {
    padding: 10px;
}

.post-left-area {
    padding: 10px;
    padding-left: 20px;
}

.user-icon {
    height: 40px;
    width: 40px;
    padding-top: 10px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.user-name {
    font-weight: bold;
    margin-right: 10px;
}

.user-id {
    color: gray;
    font-size: 0.9rem;
}

.post-content {
    padding: 10px;
}

.reaction-button {
    display: flex;
}

.like-button,
.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 11px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.like-button:hover,
.favorite-button:hover {
    opacity: 0.7;
}

/* ボタンのカウント表示 */
.like-button span,
.favorite-button span {
    margin-left: 5px;
    font-size: 13px;
    color: #bababa;
}

.timeline-new-pops-button {
    height: 80px;
    width: 80px;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-new-pops-modal {
    height: 600px;
    width: 400px;
    background-color: rgb(231, 233, 234);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 10px 20px;
}

.timeline-modal-top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.timeline-modal-top-area-button {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #009da3;
    color: white;
    box-sizing: border-box;
}

.timeline-modal-top-area-button:hover {
    opacity: 0.8;
}

.cancel-button {
    background-color: white;
    color: #009da3;
    border: 2px solid #009da3;
}

.timeline-new-pops-contents {
    height: 300px;
    width: 100%;
    font-size: 16px;
    line-height: 1.3rem;
    padding: 25px 11px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}