/*** content ***/
.top-container {
    min-height: 100vh;
    background-color: #009da3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-linne-icon {
    max-height: 380px;
    margin-bottom: 20px;
}

.top-welcome-message {
    font-size: 48px;
    font-weight: 700;
    color: rgb(231, 233, 234);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 16px;
}

.top-solicitation-message {
    color: rgb(231, 233, 234);
    margin-bottom: 32px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 24px;
    text-align: inherit;
}

.top-participation-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-login-button,
.top-register-button {
    border: none;
    color: white;
    background-color: #ffa500;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    height: 45px;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.top-attention-message {
    color: rgb(255, 255, 255);
    max-width: 380px;
    line-height: 1.2;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
}

.top-attention-message a {
    color: #ffa500;
    text-decoration: none;
}